ion-toolbar {
  display: flex;
  height: 200px;
  --background: url("../../../../../assets/images/image2.jpg") no-repeat fixed
    center;
  color: rgb(18 63 141);
}
ion-title {
  font-size: 18px;
  font-weight: bold;
}

ion-list {
  background: none;
}

.div-spinner {
  display: flex;
  justify-content: center;
  p {
    text-align: center;
  }
}
.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .destination {
    display: flex;
    align-items: center;

    ion-icon {
      width: 30px;
      height: 30px;
      padding-right: 10px;
    }
  }

  .period-container {
    display: flex;
    flex-direction: column;

    .rooms-adults {
      width: 70%;
    }

    .period {
      background-color: rgb(0, 59, 149);
      padding: 10px;
      height: 50px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      p {
        margin: 0;
        margin-right: 3px;
        padding: 5px;
      }

      hr {
        background-color: rgb(147, 147, 147);
        width: 30px;
      }

      ion-icon {
        padding: 5px;
      }
    }
  }
}
