.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
  ion-card {
        width: 80%;
        max-height: 90%;
        border-radius: 30px;

        .ion-blue-bkg { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 60%;
            }
        }  
    }
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.para {
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
    color: #A6ABB1;
}

.input-item {
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #e2e2e2;
    height: 60px;
    ion-input{
        margin-top: -12px;
    }
}

.ion-item {
    margin-top: 20px;
}

.login-button, .google-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.create-title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: none;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
content: '';
    flex: 1;
    border-bottom: 1px solid #A6ABB1;
}

.divider-text {
    padding: 0 10px; 
    color: #A6ABB1;
}

.error { 
    text-align: center;
    padding: 20px;
    background-color: red;
    color: #fff;
}

ion-icon[name="eye"], ion-icon[name="eye-off"] {
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.password-field {
    display: flex;
}

form { 
    width: 85%;
}