.table-toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action-buttons-container {
        display: flex;
        button {
            border: none;
            background-color: transparent;
            padding: 4px;
        }
        
    }
    h2 {
        padding-left: 10px;
        font-size: 21px;
        color: rgb(172, 172, 172);
    }
}