.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .input-item{
        padding-left: 20px;
        width: 100%;
        border-radius: 12px;
        border: 2px solid #e2e2e2;
        height: 60px;

        ion-input{
            margin-top: -12px;
        }
    }

    ion-item {
        padding: 10px;
    }
    
    .ion-item{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    fieldset {
        display: flex;
        padding: 20px;
    }

    p {
        padding: 20px;
        font-size: 15px;
        padding-top: 0;
        margin-left: 0;
        margin-top: 0;
        padding-left: 8px;
    }

    .response {
        display: flex;
        margin: 5px;
        overflow-y: auto;
        padding-top: 20px;

        ion-icon {
            width: 30px;
            height: 30px;
        }
    }
}

ion-toolbar {
    --background: rgb(18 63 141);
}

.spinner {
    display: flex;
    justify-content: center;
}