.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-toolbar {
    padding-bottom: 20px;
    gap: 20px;
  }

  .table-content {
    flex-grow: 1;
    background-color: #fff;
    overflow: auto;

    tr {
      &:hover {
        background-color: #f2f2f2;
      }
      &:active,
      &.selected {
        background-color: #e7f0fc;
        color: #0e2236;
      }
    }
  }
}

.mat-mdc-header-row {
  background-color:  #82acf4;
}
