.header-container {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  h3 {
    max-width: 70%;
    margin: 0;
    font-weight: bold;
  }
  span {
    color: rgb(147, 147, 147);
    font-size: 10px;
    max-width: 53%;
  }

  ion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: rgb(30, 30, 30);
    width: 40%;
    height: 40px;
    border-radius: 10px;
  }
  hr {
    background-color: rgb(147, 147, 147);
    width: 50px;
  }
}

ion-card {
  border-radius: 10px;
  overflow-y: auto;
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms-adults {
  display: flex;
  justify-content: flex-end;
  span {
    color: rgb(147, 147, 147);
    font-size: 15px !important;
    margin: 10px;
  }
}

.stars-container {
  background-color: rgb(0, 59, 149);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-right: 3px;
  }
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .price {
        width: 100px;
        height: 50px;
        margin-right: 10px;
        font-size: 20px !important;
    }
}
.images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  img {
    width: 30%;
    height: 30% !important;
    border-radius: 10px;
  }
}


.icons {
  display: flex;
  margin-top: 10px;
  max-width: 50%;
  flex-wrap: wrap;
  ion-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}
.notice {
  display: flex;
  justify-content: center;
  margin:20px;
  color: rgb(147, 147, 147);
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.select-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

