ion-header {
  background-color: #ffb700;

  .title {
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;

    span {
      margin: 0;
      font-size: 25px;
      font-weight: 700;
      line-height: 40px;
    }

    p {
      margin: 4px;
      text-align: center;
    }
  }
  ion-button {
    margin: 10px;
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 10px;
  }
}
.header-container {
  display: flex;
  margin: 13px;
  align-items: center;

  span {
    color: #fff;
    font-size: 12px;
  }

  ion-icon {
    font-size: 30px;
  }
}
.gallery {
  ion-card {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
  }
}

.margin-left {
  margin-left: 7px;
}

.distance {
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 50%;
  border-radius: 5px;
  max-width: none;
}

.facilities-container {
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(148, 148, 148);

  p {
    text-align: center;
  }

  .facilities-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-left: 9px;
    margin-top: 9px;
    color: #fff;
  }
  .facilities {
    display: flex;
    flex-wrap: wrap;

    .facility {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      ion-icon {
        margin: 10px;
      }
    }
  }
}
.rooms-adults {
  display: flex;
  justify-content: flex-end;
  span {
    color: rgb(147, 147, 147);
    font-size: 15px !important;
    margin: 10px;
  }
}

.footer {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  .price {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    font-size: 20px !important;
  }
}

.stars-container-2 {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-right: 3px;
    color: rgb(148, 148, 148);
    font-size: 23px;
    font-weight: 100;
  }

  button {
    background-color: rgb(30, 30, 30);
    text-decoration: underline;
  }
}

.period {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #1212a7;
  border-radius: 10px;

  .period-container {
    text-align: center;
    p {
      font-weight: 600;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .bold {
      font-weight: 900;
    }
    hr {
      background-color: #454545;
      width: 70%;
    }
  }
  hr {
    background-color: #fff;
    width: 30px;
  }
}

.text {
  padding: 20px;
  padding-top: 0;
}

.no-margin {
  margin: 0;
}

.text-grey {
  color: rgb(148, 148, 148) !important;

  span {
    color: rgb(148, 148, 148) !important;
  }
}

.stars-container {
  margin: 9px;
  font-size: 20px;
  color: #ffb700;
  text-align: center;

  ion-icon {
    margin-right: 5px;
  }
}
