<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-header">
      <ion-title>Destinations</ion-title>
      <img class="logo" src="assets/images/logo4.png" />
      <ion-icon (click)="logout()" name="exit"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="table-card">
    <app-table-wrapper
    data-cy="destinations-table"
      [total$]="total$"
      [dataSource$]="destinationsList$"
      [pageSize]="pageSize"
      (pageChange)="pageChange($event)"
      [tableFields]="tableFields"
      matSort
    >
      <ng-container toolbar>
        <div class="table-toolbar-container">
          <h2>{{ total$ | async }} {{ "Destinations" }}</h2>
          <div class="action-buttons-container">
            <ion-button
              id="open-destinations-modal"
              expand="block"
              fill="clear"
            >
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>

            <!-- <ion-button (click)="toggleFilter()" fill="clear">
              <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button> -->
          </div>
        </div>

        <ion-modal #modal trigger="open-destinations-modal">
          <ng-template>
            <ion-content>
              <ion-toolbar>
                <ion-title class="title">Add destination</ion-title>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="close(modal)"
                    >Close</ion-button
                  >
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="saveDestination(modal)"
                    >Save</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
              <div class="popup-container">
                <ion-item class="ionitem ckl" fill="outline" shape="round">
                  <ion-label position="floating">Destination</ion-label>
                  <ion-input
                    [formControl]="searchControl"
                    (ionFocus)="isInputFocused = true"
                    (ionBlur)="handleBlur()"
                  ></ion-input>
                  <ion-button slot="end" fill="clear">
                    <ion-icon name="send-outline"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-spinner
                  *ngIf="apiLoading$ | async"
                  name="lines-sharp"
                ></ion-spinner>
                <ng-container *ngIf="isInputFocused && (filteredOptions$ | async) as options">
                  <ion-list *ngIf="options.length > 0">
                    <ion-item
                      *ngFor="let option of options"
                      (click)="selectOption(option)"
                    >
                      {{ option.city }}
                    </ion-item>
                  </ion-list>
                  <div *ngIf="apiDataNotFound$ | async">
                    <p>No destinations found.</p>
                  </div>
                </ng-container>

                <div class="image-div">
                  <ion-item class="ion-item">
                    <ion-textarea [formControl]="imageURL"  placeholder="Image URL"></ion-textarea>
                  </ion-item>
                </div>

                <ion-checkbox [formControl]="showInDashboard" labelPlacement="end"
                    >Show in Dashboard</ion-checkbox
                  >
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="table-action-buttons">
          <div class="table-action-buttons delete-container">
            <button
              mat-icon-button
              (click)="deleteDestination(element, $event)"
            >
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
    </app-table-wrapper>
  </ion-card>
</ion-content>
