ion-card-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.header-container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    color: #454545;
  }

  hr {
    background-color: #454545;
    color: #454545;
    width: 50px;
  }

  span {
    color: rgb(147, 147, 147);
    font-size: 10px;
    max-width: 53%;
  }

  .date {
    padding: 5px;
    background-color: #003b95;
    color: #fff;
  }
}
.stars-container {
  background-color: rgb(0, 59, 149);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    margin-right: 3px;
  }
}

ion-card {
  background-color: #fff;
  color: #454545;
}

.no-margin {
  margin: 0;
}

.rooms-adults {
  display: flex;
  justify-content: flex-end;
  span {
    color: rgb(147, 147, 147);
    font-size: 15px !important;
    margin: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .price {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    font-size: 20px !important;
  }
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin: 15px;
}

.icons {
  display: flex;
  margin-top: 10px;
  max-width: 50%;
  flex-wrap: wrap;
  ion-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}

.subcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 35px;
  color: #454545;
  margin: 10px;

  ion-icon {
    margin-right: 10px;
    font-size: 27px;
  }
}

.box {
  border-radius: 7px;
  background-color: #428cff;
  color: #fff;
  margin: 5px;
}

.green-background {
  background-color: green;
  width: 50%;
  text-align: center;

}

.select-btn {
  display: flex;
  justify-content: center;
}