ion-modal {
  --height: 80%;
  --width: 90%;
  --border-radius: 16px;
  --backdrop-opacity: 0.4 !important;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.confirm-message {
  margin: 20px;
  text-align: center;
}
