<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="toolbar">
        <div class="destination">
          <ion-icon name="airplane"></ion-icon>
          <span>{{ title }}</span>
        </div>
        <div class="period-container">
          <div class="period">
            <ion-icon name="calendar"></ion-icon>
            <p>{{ checkin | date : "MMM d, y" }}</p>
            <hr />
            <p>{{ checkout | date : "MMM d, y" }}</p>
          </div>
        </div>
        <div class="period-container">
          <div class="period rooms-adults">
            <ion-icon *ngIf="adults === 2" name="people"></ion-icon>
            <ion-icon *ngIf="adults === 1" name="person"></ion-icon>
            <p>{{ adults + " Adults, " }}</p>
            <p>{{ cabinClass }}</p>
          </div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <div class="div-spinner">
      <ion-spinner
        *ngIf="apiFlightsLoading$ | async"
        name="lines-sharp"
      ></ion-spinner>
    </div>
    <ng-container *ngIf="apiFlights$ | async as options">
      <ion-list *ngIf="options.length > 0">
        <app-flight-details-view
          *ngFor="let option of options"
          [flight]="option"
          [isSelectButtonVisible]="true"
          (openConfirmationModal)="openConfirmationModal($event)"
        ></app-flight-details-view>
      </ion-list>
      <div *ngIf="apiFlightsDataNotFound$ | async"  class="div-spinner">
        <p>No flights found.</p>
      </div>
    </ng-container>
  </div>
</ion-content>
